run/
log/
var/xx/geoip/
var/de/kd/backups/
var/de/kd/domains/
var/de/kd/endping/
var/de/kd/explore/
var/de/kd/keepmes/
var/de/kd/mapdata/
var/de/kd/mtrlogs/
var/de/kd/netping/
var/de/kd/results/
var/de/kd/subnets/
var/de/kd/taskmem/
var/de/kd/tmpcach/
var/de/kd/uplping/
var/de/tk/backups/
var/de/tk/domains/
var/de/tk/endping/
var/de/tk/explore/
var/de/tk/mapdata/
var/de/tk/mtrlogs/
var/de/tk/netping/
var/de/tk/netsave/
var/de/tk/results/
var/de/tk/subnets/
var/de/tk/taskmem/
var/de/tk/tmpcach/
var/de/tk/uplping/
